{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Places Remember - Home</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
  <header>
    <h1>Places Remember</h1>
    <div class="user-info">
      <span class="user-name">{{ first_name }} {{ last_name }}</span>
      <img src="{% static 'images/avatar.jpg' %}" alt="Аватар пользователя" class="avatar">
      <!-- <img src="{{ avatar }}" alt="Аватар пользователя" class="avatar"> -->
      <a href="{% url 'user_logout' %}">
        <button class="logout-button">Выйти</button>
      </a>
    </div>
  </header>

  <main>

    <div class="vk-note-grid">
      {% if places %}
      {% for place in places %}
      <div class="vk-note">
        <h3 class="vk-note-title">{{ place.name }}</h3>
        <p class="vk-note-text">{{ place.comment }}</p>
        <div class="note-buttons">
          <a href="{% url 'delete_place' place.id %}">
            <button class="vk-note-delete-button">Удалить</button>
          </a>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h2>У вас нет ни одного воспоминания</h2>
      {% endif %}
    </div>
    <script>
      var placesJson = "{{ places_json|safe }}";
    </script>
    <div class="buttons-container">
      <a href="{% url 'map' %}"class="map-button">Посмотреть на карте</a>
      <a href="{% url 'add_note' %}" class="add-memory-button">Добавить воспоминание</a>
    </div>
  </main>

  <footer>
    <a href="https://github.com/MeloPomelo/places-remember">GitHub</a>
    <p>&copy; 2023 Places Remember. Все права защищены.</p>
  </footer>
</body>

</html>