<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        html,
        body {
            height: 100%;
        }

        #wrapper {
            min-height: 100%;
            position: relative;
        }

        #content {
            padding-bottom: 60px;
        }

        #footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;
            background-color: #f5f5f5;
        }

        #map {
            height: calc(100vh - 60px);
        }
    </style>
    <title>Places Remember - Map</title>
</head>

<body>

    <div id="wrapper">
        <header class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Places Remember</a>
            <a href="{% url 'index' %}" class="btn btn-primary ml-auto">На главную</a>
        </header>
        <div id="content">
            <div id="map"></div>
        </div>
    </div>
    <footer id="footer" class="text-center">
        <p>
            <a href="https://github.com/MeloPomelo/places-remember">GitHub</a> | &copy; 2023 Places Remember
        </p>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=fab8378d-e145-4e8c-aa39-923203d9393f&lang=ru_RU"
        type="text/javascript"></script>
    <script>
        ymaps.ready(init);

        function init() {
            var map = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 10
            });

            var places = JSON.parse('{{ places_json|escapejs }}');
            for (var i = 0; i < places.length; i++) {
                var place = places[i];
                var coords = [place.latitude, place.longitude];
                var name = place.name;
                var comment = place.comment;
                var marker = new ymaps.Placemark(coords, { hintContent: name, balloonContent: comment });
                map.geoObjects.add(marker);
            }
        }
    </script>
    <script>
        var placesJson = "{{ places_json|safe }}";
    </script>
</body>

</html>